.jumbotron {
	color: #000000;
	font-family: Arial, sans-serif;
	background-image: url("netflix_envelope.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 70px;

}

#selYear {
	padding: 7px;
	color: black;
}

#year {
	font-family:  Arial, sans-serif;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 24px;
	background-color: #b8bbbc;
}





