.jumbotron {
	color: #000000;
	font-family: Arial, sans-serif;
	background-image: url("netflix_envelope.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 70px;

}




